@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0a53be;
}

#note_1,#note_2{
    color: #107700;
}

#note_1{
    margin-bottom: 10px;
}

.form-container{
    position: relative;
    max-width: 900px;
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px #3d3d3d;
}

.form-container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.form-container  header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 50px;
    border-radius: 8px;
    background-color: #4070f4;
}

.form-container form{
    position: relative;
    margin-top: 16px;
    min-height: 505px;
    background-color: #fff;
    overflow: hidden;
}

.form-container form .form{
    position: absolute;
    background-color: white;
    transition: 0.3s ease;
}

.form-container form .first{
    /*background-color: #1abe01;*/
    height: 100%;
    /*opacity: 0;*/
}

.form-container form .second{
    width: 100%;
    height: 100%;
    opacity: 0;
    /*visibility: hidden;*/
    /*background-color: #0a53be;*/
    transform: translateX(100%);
}

.form-container form .third{
    width: 100%;
    height: 100%;
    opacity: 0;
    /*visibility: hidden;*/
    /*background-color: #0a53be;*/
    transform: translateX(100%);
}


.form-container form .first{
    z-index: 2000;
}
/*#secForm{*/
/*    !*visibility: hidden;*!*/
/*    opacity: 0;*/
/*}*/

/*//////////////////////*/
.form-container form .details{
    /*margin-top: 30px;*/
}

.form-container form .ID{
    /*margin-top: 10px;*/
}

.form-container form .account{
    /*margin-top: 10px;*/
}

/*/////////////////////////////*/



.form-container form.secActive .form.second{
    opacity: 1;
    /*visibility: visible;*/
    pointer-events: auto;
    transform: translateX(0);
}
.form-container form.secActive .form.first{
    opacity: 0;
    /*visibility: hidden;*/
    pointer-events: none;
    transform: translateX(-100%);
}

.form-container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.form-container form .fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    margin: 4px 0;
    position: relative;
}

.input-field label{
    color: #2e2e2e;
    font-size: 12px;
    font-weight: 500;
}

.input-field input{
    height: 40px;
    margin: 6px 0;
    padding: 0 15px;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

#customerGender,#customerIdType {
    height: 40px;
    margin: 6px 0;
    padding: 0 15px;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

/*when focus to the input feild*/
/*.input-field input:is(:focus, :valid){*/
/*    box-shadow: 0 3px 6px rgba(0,0,0,0.13);*/
/*}*/
.input-field input:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}

.form-container form button , .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.form-container form button,
.form-container form .backBtn{
    font-size: 14px;
    font-weight: 400;
}

.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}

form .backBtn i,
form button i{
    margin: 0 6px;
}


/*form .buttons .backBtn i{*/
/*    margin: 0 6px;*/
/*}*/

form .buttons{
    display: flex;
    align-items: center;
}

form .buttons button , .backBtn{
    margin-right: 14px;
}

img{
    /*border: 3px dashed #ff2626;*/
    border: 3px dashed #5d5d5d;
    border-radius: 10px;
    /*border-radius: 100%;*/
    padding: 5px;
    cursor: pointer;
}

img:hover{
    border: 3px dashed #1ec713 !important;
}

#profilePicChooser{
    opacity: 0;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoIcon{
    font-size: 15px;
    color: #ffb600;
    font-weight: 500;
}

.info{
    color: #ffb600 !important;
}

#warning-box{
    opacity: 0;
}

.warning-icon{
    font-size: 18px;
    font-weight: 500;
    color: red;
    margin-right: 2px;

}

.warning-msg{
    font-weight: 500;
    font-size: 13px;
    color: red;
}

.password-Btn{
    /*border: 1px solid #0a53be;*/
    border-radius:0 5px 5px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    /*margin-right: 3px;*/
    margin-bottom: 6px;
    height: 40px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a53be;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.password-Btn:hover{
    background: #3770c2;
}

#customerPassword,#customerRePassword{
    padding: 0 34px 0 15px;
}