@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@200&family=Playfair+Display:ital,wght@1,900&family=Prompt:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
}