
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: calc(0.5vw + 1vh + 0.5vmin);
}
body {
    font: 100 50%/1.5 'Roboto', sans-serif;
}
.intro {
    position: relative;
    margin: 9em;
    padding: 0.2em 0.6em;
    cursor: pointer;
    color: #fff;
    font-size: 2em;
    max-width: 26em;
}
.intro h1 {
    margin-bottom: 1.1em;
    line-height: 1;
    color: #595656;
    font-size: 50px;
    font-weight: 100;
    font-family: 'Prompt', sans-serif;

}
#CrossFade {
    background: #fff;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#CrossFade img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.4) rotate(12deg);
    -webkit-animation: CrossFade 24s infinite;
    animation: CrossFade 24s infinite;
}
#CrossFade img:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}
#CrossFade img:nth-child(2) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}
#CrossFade img:nth-child(1) {
    -webkit-animation-delay: 18s;
    animation-delay: 18s;
}
@-webkit-keyframes CrossFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}
@keyframes CrossFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

/*---------------------*/



