*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,main{
    position: relative;
}

main{
    height: 100vh;
    /*background-color: #ffe01e;*/
}

main>sectionl:nth-child(1){
    height: 100%;
    width: 100%;
    background-color: #006CBE;
}

/*/////////////////////////////////////////////////////////////*/

.select-package{
    width: 100%;
    height: 100%;
    background-color: #006CBE;

    /*display: none;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 70%;
    height: 70%;
}

.catagory{
    width: 100%;
    height: 100%;
    background-color: white;
    /*background-color: white;*/
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category-card{
    width: 200px;
    height: 350px;
    /*background-color: #ffe01e;*/
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid green;

    cursor: pointer;
    transition: all 0.3s linear;
}

.category-card > div:first-child{
    height: 70%;
    width: 100%;

    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card:nth-child(1) > div:first-child{
    background-image: url("../assets/image/place/Ceylon-Tea-Trails_-Hatton_-Hill-Country_-Sri-Lanka-Explore-_-Book.jpg");
}
.category-card:nth-child(2) > div:first-child{
    background-image: url("../assets/image/place/Dalawella-Beach.jpg");
}
.category-card:nth-child(3) > div:first-child{
    background-image: url("../assets/image/place/SRI-LANKA_-THE-ULTIMATE-TRAVEL-GUIDE-_1_.jpg");
}
.category-card:nth-child(4) > div:first-child{
    background-image: url("../assets/image/place/Travel-Sri-Lanka_-30-Photos-That-Will-Make-You-Pack-Your-Bags-And-Go.jpg");
}


.category-card > div>h1{
    width: max-content;
    height: 50px!important;
    padding: 10px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Lexend Zetta', sans-serif;
}

.category-card:hover{
    transform: scale(1.1);
}

.star{
    color: #ffe01e;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.category-card .labels{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
    text-align: center;
}

.category-card label{
    color: #2e2e2e;
    font-size: 12px;
    font-weight: 600;
}

.category-card label i{
    color: #1abe01;
    margin-right: 5px;
}

.category-card .check {

    display: none;
    /*display: flex;*/
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s ease;

}

.category-card .check div{
    background-color: #1abe01;
    color: white;
    font-size: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;

}

.next-btn{
    width: 100%;
    height: 45px;
    /*background-color: #ffe01e;*/
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.next-btn button{
    padding: 10px;
    width: max-content;
    height: 100%;
    font-size: large;
    font-family: 'Lexend Zetta', sans-serif;

    background-color: transparent;
    color: white;
    border: 2px solid white;

    cursor: pointer;
}

#travelBtn{
    margin-left: auto;
    transition: all 0.3s linear;
}

#travelBtn:hover{
    color: black;
}

/*////////////////////// Travel Areas ///////////////////////////*/

.travel-area{
    width: 100%;
    height: 100%;
    background-color: #006CBE;

    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.travel-area > .wrapper{
    width: 80%;
    height: 95%;
    /*background-color: #ffe01e;*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.areas{
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;

    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-top: auto;*/
    overflow: hidden;
    flex-direction: column;
}

.areas h1{
    width: 100%;
    font-size: large;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    height: 6%;
}

.card-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: #1abe01;*/
    height: 94%;
}

.areas .area-card{
    width: 200px;
    height: 250px;
    /*background-color: #ffe01e;*/
    margin: 0 20px;
    border-radius: 15px;

    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.areas .area-card:hover{
    border: 5px solid blue;
}

.areas .area-card>div{
    width: max-content;
    height: 50px!important;
    padding: 10px;
    border: 2px solid white;
    color: white;
    font-weight: normal;
    font-family: 'Lexend Zetta', sans-serif;
}

.areas .area-card>div>label{
    font-weight: normal;
    font-family: 'Lexend Zetta', sans-serif;
}

.areas .area-card:nth-child(1){
    background-image: url("../assets/image/place/Esala Perahera night festival-Kandy (38 of 44).jpg");
}

.areas .area-card:nth-child(2){
    background-image: url("../assets/image/place/Torre_en_Colombo_Sri_Lanka.jpg");
}

.areas .area-card:nth-child(4){
    background-image: url("../assets/image/place/Sri-Lanka-_-Tea-plantation-yards-Awesome.jpg");
}

.areas .area-card:nth-child(3){
    background-image: url("../assets/image/place/Hiriketiya-__.jpg");
}

.areas .area-card:nth-child(5){
    background-image: url("../assets/image/place/Pidurangala 🇱🇰.jpg");
}

.areas .area-card:nth-child(6){
    background-image: url("../assets/image/place/NightsBeLike.jpg");
}

.areas .area-card:nth-child(7){
    background-image: url("../assets/image/place/20UniqueFactsaboutSriLanka.jpg");
}

.areas .area-card:nth-child(8){
    background-image: url("../assets/image/place/YapahuwaSriLanka.jpg");
}


/*///////////////////////////////////////////////*/

.select-hotel {
    width: 1000%;
    height: 100%;
    background-color: #006CBE;

    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


