*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

tbody > tr > td > img{
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

table,th{
    padding: 1rem;
}
td{
    /*padding: 0.25rem;*/
    padding: 0 0.25rem;
}

.table::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}

.table{
    /*background-color: green;*/
    background-color: white;
    border-radius: 0.6rem;
    margin: .8rem auto;
    overflow: auto;
    height: 80%
}

table,th,td{
    border-collapse: collapse;
    text-align: left;
}

table > th{
    background-color: #d5d1defe;
}

.head {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 2px solid #5d5d5d;
}

th{
    /*display: flex;*/
    /*align-items: center;*/
    /*border-bottom: 2px solid #5d5d5d;*/
    background-color: #eeeeee;
    height: 30px;
    font-weight: 500;
    font-size: 15px;
    /*border-radius: 20px;*/

}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: rgba(171, 71, 188, 0.84) !important;
    cursor: pointer;
}

.content-container{
    height: 99%;
    /*background-color: #0a53be;*/
}

/*tbody tr td:nth-child(3){*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

tbody tr td:nth-child(2)>strong,tbody tr td:nth-child(3) >strong{
   display: block;
}

/*tbody tr td:last-child{*/
/*    background-color: crimson;*/
/*}*/

/*tbody tr td:last-child>div{*/
/*    display: inline-block;*/
/*    background-color: #2b66bd;*/
/*    font-size: 30px;*/
/*    !*height: 100%;*!*/
/*}*/

/*tbody tr td:nth-last-child(1),td:nth-last-child(2),td:nth-last-child(3){*/
/*    !*background-color: #2b66bd;*!*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*    font-size: larger;*/
/*    !*border-bottom: 1px solid white;*!*/
/*}*/

.options{
    vertical-align: middle;
    text-align: center;
    font-size: larger;
}

.options{
    /*transform: scale(1.2);*/
    /*font-size: 20px;*/
    background-color: #1abe01;
}

tbody tr td:nth-last-child(1){
    color: crimson;
}

td:nth-last-child(2){
    /*background-color: crimson;*/
    color: #1abe01;
}

td:nth-last-child(3){
    /*background-color: #1abe01;*/
    color: #006CBE;
}


tbody tr td:nth-child(3) label,tbody tr td:nth-child(2) label{
    margin-top: 1px;
    font-size: small;
}

tbody tr td{
    max-width: 250px!important;
}

/*////////////////////////////////////////////////*/


#model-container{
    /*position: relative;*/
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 20000;
}

.view-form{
    width: 90%;
    max-width: 900px;
    /*min-height: 85vh;*/
    height: 90vh;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    /*overflow: auto;*/
}

.view-form header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.view-form header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 50px;
    border-radius: 8px;
    background-color: #4070f4;
}

 .form{
    position: relative;
    margin-top: 16px;
    min-height: 505px;
     /*max-width: max-content;*/
    background-color: #fff;
    overflow: hidden;
}

.form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.fields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.input-field{
    display: flex;
    flex-direction: column;
    width: 270px;
    /*max-width: calc(100% / 3 - 15px);*/
    margin: 4px 0;
    position: relative;
}

.input-field label{
    color: #2e2e2e;
    font-size: 12px;
    font-weight: 500;
}

.input-field input{
    height: 40px;
    margin: 6px 0;
    padding: 0 15px;
    outline: none;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}

.image-wrapper{
    border: 3px dashed #5d5d5d;
    border-radius: 10px;
    height:200px ;
    width:150px;
    overflow: hidden;
}

.image-wrapper:hover .image{
    scale: 120%;
}

/*.image{*/
/*    !*border: 3px dashed #ff2626;*!*/
/*    border: 3px dashed #5d5d5d;*/
/*    border-radius: 10px;*/
/*    !*border-radius: 100%;*!*/
/*    padding: 5px;*/
/*    cursor: pointer;*/
/*    transition: scale 400ms;*/
/*}*/

.image{
    /*border: 3px dashed #5d5d5d;*/
    /*border-radius: 10px;*/
    /*padding: 5px;*/
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: scale 400ms;
}

.image:hover{
    /*border: 3px dashed #1ec713 !important;*/

}

.form .doneBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    max-width: 100px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 100%;
}

/* --------------------------------------- */
#user-container{
    /*position: relative;*/
    /*background-color: rgb(98, 69, 112);*/
    background: linear-gradient(180deg , #202125 30%, #e4e5e5 0%);
    height: 93vh;
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 0 2vw;
}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5px;
}

#addBtn{
    background-color: #AB47BC;
    border-radius: 10px;
    border: 0 solid #AB47BC;
    color: #eeeeee;
    font-size: 13px;
    height: 6vh;
    width: 8vw;
    min-width: max-content;
    cursor: pointer;
}

.sub-title{
    color: #eeeeee;
    font-weight: 300;
    font-size: 2vw;
}

.table,table{
    width: 100%;
}